@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    background-color: rgb(35, 31, 31);
    color: white;
    font-family: 'Lato', sans-serif;
}

*::-webkit-scrollbar{
    width: .5rem;
    background-color: rgb(157, 149, 107);
    border-radius: .5rem;
}
*::-webkit-scrollbar-thumb{
    width: .5rem;
    background-color: orange;
    border-radius: .5rem;
}

a{
    text-decoration: none;
}

.header{
    margin: 2rem;
}

.card{
    width: 25%;
    height: 30rem;
    border-radius: .5rem;
    box-shadow: -.5rem .5rem 1rem rgb(79, 76, 76);
    border: .3px solid rgb(218, 213, 213);
    padding: .5rem 0;
    transition: ease-in-out .3s;
    margin-right: 5%;
}

.card:hover, .card2:hover, .card3:hover{
    transform: scale(1.01);
}

.logo{
    width: 8rem;
    height: 8rem;
    border: 1px solid rgb(175, 172, 172);
    border-radius: .3rem;
    margin: 1rem auto;
}

.name{
    margin: .2rem auto;
    width: max-content;
    color: white;
    font-weight: 800;
}

.line{
    width: 90%;
    border-bottom: .15rem solid white;
    margin: .5rem auto;
    margin-bottom: 2rem;
}

.details{
    width: max-content;
    margin: .5rem auto;
    font-size: 1.3rem;
    font-weight: bolder;
}

.details div{
    margin-bottom: 2rem;
}

.d-flex{
    display: flex;
}

.card2{
    width: 70%;
    height: 30rem;
    border-radius: .5rem;
    box-shadow: .5rem .5rem 1rem rgb(79, 76, 76);
    border: .3px solid rgb(224, 222, 222);
    padding: .7rem .5rem;
    transition: ease-in-out .3s;
}

.card2 img{
    border-bottom-left-radius: .5rem;
    border-top-left-radius: .5rem;
    border: 1px solid rgb(175, 172, 172);
    margin-right: 4%;
}

.typewriter h1 {
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 5rem auto;
    letter-spacing: .15em; 
    animation: 
      typing 5s steps(40, end),
      blink-caret .75s step-end infinite;
}
  
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
  
/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.social h2{
    text-align: center;
    margin: 4rem 0;
    letter-spacing: .2rem;
}

.social-links{
    font-size: 3rem;
    width: 40%;
    margin: 0 auto;
}

.social-links i{
    margin-right: 5%;
}

.scroller{
    text-align: center;
    margin: 5rem;
    letter-spacing: .2rem;
}

.scroller i{
    font-size: 3rem;
}

.card3{
    width: 23rem;
    border-radius: .5rem;
    box-shadow: .5rem .5rem 1rem rgb(79, 76, 76);
    border: .3px solid rgb(224, 222, 222);
    margin-left: 2rem;
    margin-bottom: 2rem;
    transition: ease-in-out .3s;
    text-align: center;
    padding: 1rem 0;
    cursor: pointer;
    letter-spacing: .2rem;
}

.preview-container h1{
    letter-spacing: .2rem;
}

.preview-container p{
    letter-spacing: .1rem;
}

.orange-text{
    color: orange;
    text-decoration: underline;
    text-decoration-color: rgb(157, 149, 107);
}

.hide{
    display: none;
}

.certifications{
    margin-top: 4rem;
}

.certifications h1{
    letter-spacing: .3rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.certifications .card2{
    margin: 1rem auto;
}

.certifications .options{
    width: max-content;
    margin: 2rem auto;
}

.certifications .card2 img{
    margin-right: .5rem !important;
    border-radius: 0;
}

.certifications .card2 .controls{
    margin-top: 7rem;
}

.small-icons .row1{
    justify-content: space-between;
    margin-bottom: 3rem;
}

.small-icons .row2{
    justify-content: space-between;
}

.list{
    margin: 2rem;
    letter-spacing: .2rem;
}

.list p{
    cursor: pointer;
}
